<!doctype html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>構成</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
        .main {
          margin-bottom: 75px;
        }
        /* Modalの高さ設定 */
        .modal-body {
          max-height: calc(100svh - 240px);
          overflow-y: auto;
        }
        .dropdown-menu {
          min-width: 0 !important;
        }
        #bottomBar {
          width: fit-content;
        }
        #sideView {
          position: fixed;
          right: 10px;
        }
    </style>
</head>
<body>

<div id="header"></div>

<script>
    const header = document.getElementById('header');
    header.innerHTML = `
      <div class="bg-body-tertiary d-flex justify-content-between align-items-center p-2" id="defaultNav">
        <span class="mb-0 me-2 h5">Build PC Checker</span>
        <div class="d-none d-sm-flex">
          <a class="nav-link ms-4 border-bottom border-2 border-primary fw-semibold" aria-current="page" href="./parts-select.html">構成</a>
          <a class="nav-link ms-4" href="./preset-list.html">プリセット</a>
        </div>
        <div class="btn-group ms-auto">
          <button type="button" class="btn btn-outline-primary" onclick="location.href='./login-redirect.html'">ログアウト</button>
          <button type="button" class="btn btn-outline-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false"></button>
          <ul class="dropdown-menu dropdown-menu-end">
            <li><a class="dropdown-item" href="#" id="themeBtn">カラーモード<i class="fa-regular fa-sun ms-2"></i></a></li>
            <li><a class="dropdown-item" href="#">アカウント</a></li>
          </ul>
        </div>
      </div>
      <div class="bg-body-tertiary d-sm-none p-2 ps-3" id="mobileNav">
        <div class="d-flex justify-content-start">
          <a class="nav-link border-bottom border-2 border-primary fw-semibold" href="./parts-select.html">構成</a>
          <a class="nav-link ms-4" href="./preset-list.html">プリセット</a>
        </div>
      </div>`;

    // ナビゲーションバーの上部固定切り替え
    function setDefaultNavFixed() {
      let defaultNav = document.getElementById('defaultNav');
      if (window.innerWidth <= 576) {
        defaultNav.classList.remove('fixed-top');
      } else {
        defaultNav.classList.add('fixed-top');
      }
    }

    // 小さい画面用ナビゲーションバーの上部固定切り替え
    function setMobileNavFixed() {
      let mobileNav = document.getElementById('mobileNav');
      if (window.scrollY >= 53.6) {
        mobileNav.classList.add('fixed-top');
      } else {
        mobileNav.classList.remove('fixed-top');
      }
    }

    // コンテンツがナビゲーションバーに被らないようにマージン調整
    function setMainMargin() {
      let defaultNav = document.getElementById('defaultNav');
      let mobileNav = document.getElementById('mobileNav');
      let main = document.querySelector('.main');
      let navHeight = 0;
      if (window.innerWidth <= 576) {
        if (window.scrollY >= 53.6) {
          navHeight = mobileNav.offsetHeight;
        } else {
          navHeight = 0;
        }
      } else {
        navHeight = defaultNav.offsetHeight;
      }
      main.style.marginTop = navHeight + 10 + 'px';
    }

    // ウィンドウリサイズ時に実行
    window.addEventListener('resize', () => {
      setDefaultNavFixed();
      setMainMargin();
    });

    // スクロール時に実行
    document.addEventListener('scroll', () => {
      setMobileNavFixed();
      setMainMargin();
    });

    // ロード時に実行
    window.addEventListener('load', () => {
      setDefaultNavFixed();
      setMobileNavFixed();
      setMainMargin();
    });

    // テーマ切り替え
    function toggleTheme() {
      const currentTheme = document.documentElement.dataset.bsTheme;
      const newTheme = currentTheme === 'light' ? 'dark' : 'light';
      document.documentElement.dataset.bsTheme = newTheme;
      const themeBtnIcon = document.getElementById("themeBtn").querySelector('i');
      themeBtnIcon.classList.remove(currentTheme === 'light' ? 'fa-sun' : 'fa-moon');
      themeBtnIcon.classList.add(newTheme === 'light' ? 'fa-sun' : 'fa-moon');
    }

    // ボタン押下時に実行
    document.getElementById("themeBtn").addEventListener('click', () => {
      toggleTheme();
    });
</script>


<div class="container-fluid main">
    <div class="row">
        <div class="col-12 col-xl-10">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title mb-2">構成</h4>

                    <div class="row">

                        <div class="col col-xs-12 col-md-6 col-xl-4">
                            <div class="card my-2" id="cpu">
                                <h5 class="card-header">CPU<span class="float-end text-danger price">¥0</span></h5>
                                <div class="card-body">
                                    <h5 class="card-title name">未選択</h5>
                                    <p class="card-text">
                                        <span class="badge text-secondary border border-1 border-secondary rounded-5 spec1"></span>
                                        <span class="badge text-secondary border border-1 border-secondary rounded-5 spec2"></span>
                                        <span class="badge text-secondary border border-1 border-secondary rounded-5 spec3"></span>
                                        <span class="badge text-secondary border border-1 border-secondary rounded-5 spec4"></span>
                                    </p>
                                    <button type="button" class="btn btn-primary btn-sm w-100" data-name="CPU" data-bs-toggle="modal" data-bs-target="#selectModal">
                                        選択
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-12 col-md-6 col-xl-4">
                            <div class="card my-2" id="gpu">
                                <h5 class="card-header">グラフィックボード<span class="float-end text-danger price">¥0</span></h5>
                                <div class="card-body">
                                    <h5 class="card-title name">未選択</h5>
                                    <p class="card-text">
                                        <span class="badge text-secondary border border-1 border-secondary rounded-5 spec1"></span>
                                        <span class="badge text-secondary border border-1 border-secondary rounded-5 spec2"></span>
                                    </p>
                                    <button type="button" class="btn btn-primary btn-sm w-100" data-name="GPU" data-bs-toggle="modal" data-bs-target="#selectModal">
                                        選択
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-12 col-md-6 col-xl-4">
                            <div class="card my-2" id="memory">
                                <h5 class="card-header">メモリ<span class="float-end text-danger price">0￥</span></h5>
                                <div class="card-body">
                                    <h5 class="card-title name">未選択</h5>
                                    <p class="card-text">
                                        <span class="badge text-secondary border border-1 border-secondary rounded-5 spec1"></span>
                                        <span class="badge text-secondary border border-1 border-secondary rounded-5 spec2"></span>
                                        <span class="badge text-secondary border border-1 border-secondary rounded-5 spec3"></span>
                                    </p>
                                    <button type="button" class="btn btn-primary btn-sm w-100" data-name="MEMORY" data-bs-toggle="modal" data-bs-target="#selectModal">
                                        選択
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-12 col-md-6 col-xl-4">
                            <div class="card my-2" id="mb">
                                <h5 class="card-header">マザーボード<span class="float-end text-danger price">0￥</span></h5>
                                <div class="card-body">
                                    <h5 class="card-title name">未選択</h5>
                                    <p class="card-text">
                                        <span class="badge text-secondary border border-1 border-secondary rounded-5 spec1"></span>
                                        <span class="badge text-secondary border border-1 border-secondary rounded-5 spec2"></span>
                                        <span class="badge text-secondary border border-1 border-secondary rounded-5 spec3"></span>
                                        <span class="badge text-secondary border border-1 border-secondary rounded-5 spec4"></span>
                                    </p>
                                    <button type="button" class="btn btn-primary btn-sm w-100" data-name="MB" data-bs-toggle="modal" data-bs-target="#selectModal">
                                        選択
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-12 col-md-6 col-xl-4">
                            <div class="card my-2" id="ssd">
                                <h5 class="card-header">SSD<span class="float-end text-danger price">0￥</span></h5>
                                <div class="card-body">
                                    <h5 class="card-title name">未選択</h5>
                                    <p class="card-text">
                                        <span class="badge text-secondary border border-1 border-secondary rounded-5 spec1"></span>
                                        <span class="badge text-secondary border border-1 border-secondary rounded-5 spec2"></span>
                                        <span class="badge text-secondary border border-1 border-secondary rounded-5 spec3"></span>
                                    </p>
                                    <button type="button" class="btn btn-primary btn-sm w-100" data-name="SSD" data-bs-toggle="modal" data-bs-target="#selectModal">
                                        選択
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-12 col-md-6 col-xl-4">
                            <div class="card my-2" id="psu">
                                <h5 class="card-header">電源<span class="float-end text-danger price">0￥</span></h5>
                                <div class="card-body">
                                    <h5 class="card-title name">未選択</h5>
                                    <p class="card-text">
                                        <span class="badge text-secondary border border-1 border-secondary rounded-5 spec1"></span>
                                        <span class="badge text-secondary border border-1 border-secondary rounded-5 spec2"></span>
                                        <span class="badge text-secondary border border-1 border-secondary rounded-5 spec3"></span>
                                    </p>
                                    <button type="button" class="btn btn-primary btn-sm w-100" data-name="PSU" data-bs-toggle="modal" data-bs-target="#selectModal">
                                        選択
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-12 col-md-6 col-xl-4">
                            <div class="card my-2" id="os">
                                <h5 class="card-header">OS<span class="float-end text-danger price">0￥</span></h5>
                                <div class="card-body">
                                    <h5 class="card-title name">未選択</h5>
                                    <p class="card-text">
                                    </p>
                                    <button type="button" class="btn btn-primary btn-sm w-100" data-name="OS" data-bs-toggle="modal" data-bs-target="#selectModal">
                                        選択
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-12 col-md-6 col-xl-8">
                            <div class="card my-2">
                                <h5 class="card-header">メモ</h5>
                                <div class="card-body">
                                    <div class="input-group">
                                        <textarea id="description" class="form-control" rows="3" placeholder="メモを入力してください"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>

        <div class="col-xl-2 d-xl-block d-none border rounded-2" id="sideView">
            <h4 class="my-3">構成</h4>
            <ul class="list-group mb-3">
                <li class="list-group-item">CPU<br>¥88,165</li>
                <li class="list-group-item">グラフィックボード<br>¥279,800</li>
                <li class="list-group-item">メモリ<br>¥13,800</li>
                <li class="list-group-item">マザーボード<br>¥42,980</li>
                <li class="list-group-item">ストレージ<br>¥11,980</li>
                <li class="list-group-item">電源<br>¥20,457</li>
                <li class="list-group-item">OS<br>¥21,750</li>
                <li class="list-group-item fw-semibold">合計<br>¥1,000,000</li>
            </ul>
        </div>
    </div>
</div>

<div class="">
    <div class="mx-auto bg-body-tertiary d-flex align-items-center m-2 p-2 border border-1 rounded-2 fixed-bottom" id="bottomBar">
        <span class="mb-0 me-2 h5 text-nowrap">合計<span class="text-danger ms-2" id="totalPrice">¥0</span></span>
        <div class="input-group ms-4">
            <input id="presetName" type="text" class="form-control" placeholder="プリセット名">
            <button id="presetSaveBtn" class="btn btn-primary" type="button">保存</button>
        </div>
    </div>
</div>

<!-- モーダル -->
<div class="modal fade" id="selectModal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="selectModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="selectModalLabel"></h5>
            </div>
            <div class="modal-body">
                <div class="list-group" id="partsList">

                </div>
            </div>
            <div class="modal-footer d-block">
                <div class="row m-0 p-0">
                    <div class="col ps-0 pe-0">
                        <button type="button" class=" btn btn-sm w-100 btn-secondary" data-bs-dismiss="modal">
                            閉じる
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="js/parts-list.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>