<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>互換性設定用テストページ</title>
</head>
<body>
<form>
    互換性の情報を入力して下さい。<br/>

    <p>
        <!--JSでinputタグの中身を取得        -->
        <!--formクラスに応じてinputとtest-login.jsを調整してください        -->
        互換性ID：<input type="text" id="compatible_id" value="1"/>
    </p>
    <p>
            <!--JSでinputタグの中身を取得        -->
            <!--formクラスに応じてinputとtest-login.jsを調整してください        -->
        CPU世代：<input type="text" id="cpu_gen" value="testName"/>
    </p>
    <p>
        チップセット型番：<input type="text" id="chipset" />
    </p>
    <button type="button" id="add-btn">追加</button>
    <button type="button" id="update-btn">編集内容を保存</button>
</form>
<script src="js/test-compatible.js"></script>
</body>
</html>