<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>ログイン用テストページ</title>
</head>
<body>
<form>
    ユーザー情報を入力して下さい。<br/>
    <p>
            <!--JSでinputタグの中身を取得        -->
            <!--formクラスに応じてinputとtest-login.jsを調整してください        -->
        LOGIN ID：<input type="text" name="name" id="name" value="testName"/>
    </p>
    <p>
        PASSWORD：<input type="text" name="password" id="password" />
    </p>
    <button type="button" id="btn">送信</button>
</form>
</body>
</html>