<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>プリセット登録用テストページ</title>
</head>
<body>
<form action="testPartsCategory" method="post">
    <p>
            <!--JSでinputタグの中身を取得        -->
            <!--formクラスに応じてinputとtest-login.jsを調整してください        -->
        CPU ID：<input type="text" id="cpu_id" value="id111"/>
    </p>
    <p>
        CPU 型番：<input type="text" id="cpu_name" value="name111"/>
    </p>
    <p>
        GPU ID：<input type="text" id="gpu_id" value="id222"/>
    </p>
    <p>
        GPU 型番：<input type="text" id="gpu_name" value="name222"/>
    </p>
    <p>
        RAM ID：<input type="text" id="ram_id" value="id333"/>
    </p>
    <p>
        RAM 型番：<input type="text" id="ram_name" value="name333"/>
    </p>
    <p>
        SSD ID：<input type="text" id="ssd_id" value="id444"/>
    </p>
    <p>
        SSD 型番：<input type="text" id="ssd_name" value="name444"/>
    </p>
    <p>
        電源 ID：<input type="text" id="psu_id" value="id555"/>
    </p>
    <p>
        電源 型番：<input type="text" id="psu_name" value="name555"/>
    </p>
    <p>
        プリセット名：<input type="text" id="preset_name" value="test_preset"/>
    </p>

    <button type="btn" id="testbtn">送信</button>
</form>
<!--<script src="js/test-parts-select.js"></script>-->
<script>


    document.getElementById('testbtn').addEventListener('click', () => {
      // リクエストで送信するJSON用のオブジェクト作成
      const preset = {
  //          Javaのフォームクラスのフィールド名:document.getElementById('HTMLのID').value
          cpuId: document.getElementById('cpu_id').value,
          cpuName: document.getElementById('cpu_name').value,
          gpuId: document.getElementById('gpu_id').value,
          gpuName: document.getElementById('gpu_name').value,
          ramId: document.getElementById('ram_id').value,
          ramName: document.getElementById('ram_name').value,
          ssdId: document.getElementById('ssd_id').value,
          ssdName: document.getElementById('ssd_name').value,
          psuId: document.getElementById('psu_id').value,
          psuName: document.getElementById('psu_name').value,

          presetName: document.gtElementById('preset_name').value
      }
      // POSTでリクエスト送信
      // presetをJSONに変換して送る
      fetch('/catchPresetRegistration', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify(preset),
      })
      .then(res => console.log(res))
  })
</script>
</body>
</html>